#navbar-item{
  padding: 15px;
  font-size: 18px;
  font-family: 'Roboto Mono', monospace;
}

#navbar-item:hover{
  color: #F9CD66;
}

#navbar-image{
  margin: 5px 5px 5px 10px;
  width: 40px;
  height: 70px;
  width: 70px;
}

label{
  display: block;
  text-align: center;
}

.dropdown-item{
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  margin-right: 20px;
  padding: 10px;
}

.dropdown-item:hover{
  color: #F9CD66;
  background-color: white;
}

#dropdown-menu{
  margin-right: 30px;
}
