{% extends "book_app/base.html" %}

{% block body_block %}

<div id="about-border">
  <h1 id="about-title">About Me</h1>

  <p id="about-body"> I love smelling books, holding books, spilling on books, and most important of all, buying and reading books. I am the happiest in libraries and bookstores and my heart breaks when I have to leave them. Studying philosophy and English was, therefore, the right choice for me. I had to read a lot – really a lot, but I never wrote down my thoughts about the texts and stories. Now that I have finished these bachelors, I have the time to finally keep track of the books I read and post reviews here on my blog.<br><br>With love, <br><br>Dide</p>
</div>
{% endblock body_block %}
